<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a href=""><img src="#" alt="" style="height: 100px; width: 100px;"></a>
            <a class="navbar-brand" href="#">VirtualSpace</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"   aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <ul class="nav navbar">
            {% if user.is_authenticated %}
            <li class="nav-item" >
                <a class="nav-link active" aria-current="page" href="{% url 'job' %}">JobPost</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'blog' %}">Blog</a>
              </li>
              </li>
              <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'user_logout' %}">Logout</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'applied' %}">Dashbpard</a>
                </li>
              <li class="nav-item" style="margin-left: 600px;">
                <a class="nav-link active" aria-current="page" href="{% url 'dash' %}" style="font-size: 30px;">wellcome  {{request.user.username}}</a>
              </li>
              <li class="nav-item">
                <a href="#" class='fas fa-child'></a>
              </li>
              <li>
                <a href="#"><box-icon type='solid' name='user-circle' style="height: 130px; width: 130px;"></box-icon></a>
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'register' %}">Register</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'user_login' %}">Login</a>
              
              {% endif %}
    
                  
             
            </ul>
        </div>
    </nav>
</body>
</html>